html, body {
	margin:0;
	padding:0;
}

h1, p {
	margin:0;
}

a{
	color: inherit;
	text-decoration: none;
	
}
#main {
	background: url("https://pixabay.com/get/55e3d3474d57b108feda8460da29317e143cd7e2555879_1920.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100vw;
	height: 100vh;
	font-family: font-family : 'Secular One', sans-serif; 
}

#contents{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	color: white;
	text-align: center;
	
}

#contents h1{
	font-size: 70px;
	margin-bottom : 16px;
}

#contents p{
	font-size: 23px;
	margin-bottom : 16px;
}

#contents a{
	display: inline-block;
	border:2px solid white;
	border-radius: 20px;
	padding: 10px 20px;
	font-size:17px;
	font-weight: bold;
}

@media(max-width:769px){
	#contents h1{
	font-size: 50px;
	
	}

	#contents p{
	font-size: 20px;
	}
	
	#contents a{
	font-size:14px;
	}
}
