<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="calendarmapper">
  
  <resultMap type="CalendarDto" id="CalResultMap">
		<result property="cal_no" column="CAL_NO"/>
		<result property="member_no" column="MEMBER_NO"/>
		<result property="cal_title" column="CAL_TITLE"/>
		<result property="cal_content" column="CAL_CONTENT"/>
		<result property="cal_mdate" column="CAL_MDATE"/>
	 	<result property="cal_regdate" column="CAL_REGDATE"/>
	</resultMap>
	
	<insert id="insert" parameterType="CalendarDto">
		INSERT INTO CALENDAR
		VALUES(CALENDARSEQ.NEXTVAL, #{member_no}, #{cal_title}, #{cal_content}, #{cal_mdate}, SYSDATE)
	</insert>
	
	<select id="selectList" resultMap="CalResultMap">
		SELECT CAL_NO, MEMBER_NO, CAL_TITLE, CAL_CONTENT, CAL_MDATE, CAL_REGDATE
		FROM CALENDAR
		WHERE SUBSTR(CAL_MDATE, 1, 8) = #{yyyyMMdd}
		AND MEMBER_NO = #{member_no}
	</select>
	
	<select id="calViewList" resultMap="CalResultMap">
		SELECT * FROM 
		(SELECT (ROW_NUMBER() OVER(PARTITION BY SUBSTR(CAL_MDATE,1,8) ORDER BY CAL_MDATE)) RN,
		         CAL_NO, MEMBER_NO, CAL_TITLE, CAL_CONTENT, CAL_MDATE, CAL_REGDATE
		 FROM CALENDAR
		 WHERE MEMBER_NO = #{member_no} AND SUBSTR(CAL_MDATE, 1, 6) = #{yyyyMM}
		)
		WHERE RN BETWEEN 1 AND 3
	
	</select>
	
	<select id="calViewCount" resultType="int">
		SELECT COUNT(*) FROM CALENDAR
		WHERE MEMBER_NO = #{member_no}
		AND SUBSTR(CAL_MDATE, 1, 8) = #{yyyyMMdd}
	</select>
		
	<select id="selectOne" parameterType="int" resultType="CalendarDto">
		SELECT CAL_NO, MEMBER_NO, CAL_TITLE, CAL_CONTENT, CAL_MDATE, CAL_REGDATE
		FROM CALENDAR
		WHERE CAL_NO = #{cal_no}
	</select>
	
	<delete id="muldel" parameterType="map">
		DELETE FROM CALENDAR
		WHERE CAL_NO IN
		<foreach collection="cal_nos" item="cal_no" open="(" separator="," close=")">
			#{cal_no}
		</foreach>
	</delete>
	<update id="update" parameterType='CalendarDto'>
		UPDATE CALENDAR
		SET CAL_TITLE= #{cal_title}, CAL_CONTENT= #{cal_content}
		WHERE CAL_NO = #{cal_no}
	</update>
</mapper>